# Bu faylni lokal test qilish uchun ".env" nomi bilan nusxalang.
# Render.com'da bular Environment bo'limida qo'lda kiritiladi, .env fayl kerak emas.

BOT_TOKEN=8844142771:AAHF0QyeZREKuFFIvO1B4CClFOql9EvTTxI
ADMIN_ID=8837120659
DB_PATH=kino_bot.db
